extends layout
block content
  .col-xs-1.col-sm-2
  .col-xs-10.col-sm-8.error-msg.text-centered
    h4
      | &colon;-&lpar; &period;&period;&period; Sorry&comma; but there was an error with your request &period;&period;&period; &colon;-&lpar;
