doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='author', content='Jorge Couchet')
    meta(name='description', content='Enabling discovering of TED Talks in a new way')
    meta(name='keywords', content='TED talks, Science Museum, discovery')
    title Ted-Scimu
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/tedscimu.css', rel='stylesheet')
    link(rel='shortcut icon', href='/images/favicon.ico')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='/javascripts/html5shiv.js')
      script(src='/javascripts/respond.min.js')
  body
    include navbar
    include container
    include scripts
