#navbar.navbar.navbar-fixed-top.nav-style.not-round(role='navigation')
  .container.container-full
    .row.not-round
      .col-xs-5.col-sm-4.col-md-2.nav-fz
        a.nav-centered-link(href='#main-cont')
          strong.nav-logo
            span.glyphicon.glyphicon-cog
            &NonBreakingSpace;TED-SCIMU
      .col-sm-4.col-md-6
      .col-xs-3.col-sm-2.text-centered.nav-fz
        a.nav-centered-link.nav-mg(href='#main-cont') Images
      .col-xs-3.col-sm-2.nav-fz
        a.nav-centered-link(href='#contact-cont') Contact
